body {
  	padding-top: 40px;
  	padding-bottom: 40px;
  	background-color: #eee;
}

ul li{
	background: #c0e8ea;
	  height: 20px;
  width: 550px;

}

ul {
	list-style-type: none;
}

button.edit {
	height: 20px;
  	width: 20px;
}

button.elimin {
	height: 20px;
  	width: 20px;
}

input.tareaP {
	font-size: 16px;
	background-color: transparent;
	border-width:0;
	width: 450px;
}